@import "../../styles/css-variables.css";

.header-menu-div {
  display: grid;
  grid-template: 65px / repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  font-weight: 600;
  color: var(--primary-text-color);
}

.header-menu-div a {
  text-decoration: none;
}