@import "../../styles/css-variables.css";

.la-wrapper {
  background-color: var(--secondary-background-color);
  border-radius: 5px;
  padding: 0 5px 15px;
}

.la-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-text-color);
  padding: 10px 10px 9px;
}

.la-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 30px);
  grid-row-gap: 2px;
  padding: 1em 0;
}

.la-list-header {
  font-size: 12px;
  font-weight: 600;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.la-list-pad-left {
  padding-left: 10px;
}

.la-list-child {
  display: flex;
  align-items: center;
}

.la-list-child:nth-child(-n+9) {
  border-bottom: 1px solid #b0bec5;
}

.la-list-text {
  font-size: 12px;
}

.la-latest-left-cap {
  padding-left: 5px;
  border-left: 3px solid var(--tertiary-background-color);
}

.la-latest-left-comp {
  padding-left: 5px;
  border-left: 3px solid var(--fourth-color);
}
