:root {
  --primary-color: #0057b8;
  --secondary-color:  #753bbd;
  --tertiary-color: #af272f;
  --fourth-color: #fde332;
  --fifth-color: #75ba20;


  --main-background-color: #fafafa;
  --secondary-background-color: #c6d6e3;
  /* --tertiary-background-color: #e84a5f; */
  --tertiary-background-color: #e03e52;

  --primary-text-color:#212121;
  --secondary-text-color: #455a64;

  --primary-gradient: linear-gradient(
    90deg,
    rgb(78, 255, 207) 0%,
    rgb(8, 164, 188) 100%
  );
  --secondary-gradient: linear-gradient(
    90deg,
    rgb(255, 86, 238) 0%,
    rgb(62, 87, 194) 100%
  );
}