@import "../../styles/css-variables.css";

.summary-bar-div {
  height: 100%;
  display: grid;
  grid-template: 65px 1fr / repeat(5, 1fr);
  /* align-items: center; */
  /* justify-items: center; */

}

.summary-bar > div {
  text-align: center;
}

.sub-header {
  margin-bottom: 5px;
}

.figure-weight {
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
}

.figure1 {
  color: var(--tertiary-color);
}

.figure2 {
  color: var(--secondary-color);
}

.figure3 {
  color: var(--primary-color);
}

.figure-weight-nok {
  font-size: 16px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .sub-header {
    margin-top: 7px;
    font-size: 13px;
  }

  .figure-weight {
    font-size: 13px;
    font-weight: 600;
  }

  .figure-weight-nok {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .sub-header {
    margin-bottom: 5px;
    font-size: 11px;
  }

  .figure-weight {
    font-size: 11px;
    font-weight: 500;
  }

  .figure-weight-nok {
    font-size: 12px;
  }
}