@import "../../styles/css-variables.css";

.drop-down {
  display: grid;
  grid-template: 65px / 1fr;
  align-items: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  border: none;
  margin-right: 1rem;
  padding: 1rem;
  padding-left: 5px;
  padding-right: 2rem;
}

select option {
  background-color: var(--secondary-background-color);
  color: black;
}

@media (max-width: 768px) {
  select {
    font-size: 14px;
  }

  select option {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  /* .drop-down {
    justify-items: stretch;
  } */

  select {
    font-size: 12px;
  }

  select option {
    font-size: 10px;
  }
}