@import "./styles/css-variables.css";

* {
  font-size: 14px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: var(--secondary-text-color);
}


body {
  height: 100vh;
  width: 100wh;
  padding: 0;
  margin: 0;

  /* width: 100%;
  margin: 0 auto;
  padding: 0; */
  background-color: var(--main-background-color);
}

.logo {
  grid-area: lo;
}

.header-menu {
  grid-area: hm;
}

.header-user {
  grid-area: hu;
  background-color: var(--tertiary-background-color);
}

.blank-left {
  background-color: var(--secondary-background-color);
  grid-area: bl;
}

.blank-right {
  background-color: var(--secondary-background-color);
  grid-area: br;
}

.overview {
  background-color: var(--secondary-background-color);
  grid-area: ov;
}

.summary-bar {
  background-color: var(--secondary-background-color);
  grid-area: sb;
}

.sub-menu {
  grid-area: sm;
}

.sub-menu-border {
  position: relative;
  top: -10px;
  border-bottom: 1.25px solid var(--secondary-text-color);
  grid-area: smb;
}

.side-menu {
  grid-area: vm;
}

.chart-applications {
  grid-area: ca;
}

.chart-site-trafic {
  grid-area: cs;
}

.total-applications {
  margin-left: 10px;
  grid-area: ta;
}

.by-county {
  margin-left: 10px;
  margin-top: 10px;
  grid-area: bc;
}

.latest-applications {
  position: relative;
  margin-left: 10px;
  top: -10px;
  grid-area: la;
}

@media (max-width: 768px) {
  .total-applications {
    margin-left: 0px;
  }

  .by-county {
    margin-left: 0px;
  }

  .latest-applications {
    margin-left: 0px;
    top: 10px;
  }
}

@media (max-width: 425px) {
  .overview {
    text-align: center;
  }

  .total-applications {
    margin-left: 0px;
  }

  .by-county {
    margin-left: 0px;
  }

  .latest-applications {
    margin-left: 0px;
    top: 10px;
  }
}