@import "./styles/css-variables.css";

* {
  font-size: 14px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  /* color: var(--secondary-text-color); */
  /* color: #dce2e3; */
}


body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: "#FAFAFA";
}

.logo {
  grid-area: lo;
}

.header-menu {
  grid-area: hm;
}

.header-user {
  grid-area: hu;
  background-color: #e53935;
}

.blank-left {
  background-color: var(--secondary-background-color);
  grid-area: bl;
}

.blank-right {
  background-color: var(--secondary-background-color);
  grid-area: br;
}

.overview {
  background-color: var(--secondary-background-color);
  grid-area: ov;
}

.summary-bar {
  background-color: var(--secondary-background-color);
  grid-area: sb;
}

.header3 {
  background-color: royalblue;
  grid-area: h3;
}

.side-menu {
  background-color: slateblue;
  grid-area: m;
}

.content {
  background-color: springgreen;
  grid-area: c;
}

@media (max-width: 425px) {
  .overview {
    text-align: center;
  }
}
/* @media (max-width: 768px) {
  div.example {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  
} */